/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one-half.column                { width: 48%; }
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #222; 
  background-color: #F1F1F1;
}

@keyframes shadow {
      from {text-shadow: -2px -2px #41B6E6;}
      25%  {text-shadow:  2px -2px #E4002B;}
      50%  {text-shadow:  2px  2px #41B6E6;}
      75%  {text-shadow: -2px  2px #E4002B;}
      to   {text-shadow: -2px -2px #41B6E6;}
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-weight: 300; }
h1 {
  animation-direction: normal;
  animation-iteration-count: infinite; 
  animation-name: shadow;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }


p {
  margin-top: 0; 
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #005B99; text-decoration: none; }
a:hover {
  color:  #981b1e; text-decoration: underline; }



/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p {
  margin-bottom: 2.5rem; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

