{% extends "base.html" %}

{% block title %}Studs Terkel Radio Archive Podcast{% endblock %}

{% block content %} 
  <div class="row">
    <div class="one-half column" style="margin-top: 5%">
        <h1>The Studs Terkel Archive Podcast</h1>
        <p>Selections from <a href="https://studsterkel.wfmt.com/">the WFMT collection</a> of Terkel’s radio interviews, delivered several times each week. An unofficial feed compiled by <a href="ihttps://palewi.re/who-is-ben-welsh/">Ben Welsh</a>.</p>
        <div>
            <b>Get the feed</b>: <a href="./feed.xml">RSS</a>
        </div>
    </div>
  </div>
{% endblock content %}
